.baslik {
  background-color: green;
  color: white;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.boyutlandırma {
  max-width: 400 px;
  height: 25 rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #28a745 !important;
}

.card-img-top {
  max-width: 348px !important;
  object-fit: cover;
  object-position: center center;
}

.card {
  max-width: 348px !important;
}

html {
  scroll-behavior: smooth;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  a.nav-link {
    width: 300px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  a.nav-link {
    width: 300px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  a.nav-link {
    width: 210px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  a.nav-link {
    width: 170px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  a.nav-link {
    width: 170px;
  }
}
