.baslik {
  background-color: green;
  color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #28a745 !important;
}

.card-img-top {
  max-width: 348px !important;
  object-fit: cover;
  object-position: center center;
}

.card {
  max-width: 348px !important;
}

html {
  scroll-behavior: smooth;
}

a.nav-link {
  width: 170px;
}